# ignore python virtual environment
/venv

# ignore vscode configuration
/.vscode

# ignore secret/environment specific information
info.py
# info.py must be created and filled with proper info for some fo the scripts in this project to work properly

# ignore python bytecode files
*.pyc

# ignore actual excel files created or used by the scripts
*.xlsx
# except for the example ones
!studentsExample.xlsx
!pastTeamsExample.xlsx
!teamsExample.xlsx

# ignore setup.py output and grading.py input folder
/Grading Test